body{
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

form-container {
  margin: 0 auto;
}

#title{
  font-size: 2rem;
  font-weight: 500;
}

#description {
  font-style: italic;
  margin-top: -1rem;
}

form{
  width: 60%;
  background-color: #2C2C4B;
  color: white;
  padding: 2rem;
  border-radius: .5rem;
  margin: 3.5rem auto;
}

.form-section{
  text-align: left;
  margin-bottom: 1rem;
}



.form-section input, select{
  box-sizing: border-box;
  width: 100%;
  margin-top: .5rem;
  padding: .6rem 1rem;
  border-radius: .3rem;
  font-size: 1rem;
}

input::placeholder{
  font-size: 1rem;
}

#radio-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

#checkbox-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: .5rem;
}

.mb-5 label {
  width: 0;
}

span{
  font-size: .8rem;
}

.form-section #comments{
  width: 100%;
}

.form-section textarea{
  margin-top: .5rem;
  font-size: 1rem;
  padding: .5rem;
}

.form-section textarea::placeholder{
  font-size: 1rem;
}

button{
  width: 100%;
  background-color: #37AF65;
  padding: .8rem 0;
  border: 0;
  border-radius: .5rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

